@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    overflow: hidden;
}

#sidebar {
    background-color: #1992D4;
    color: white;
    height: 100vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: 5px;
    margin-bottom: 22px;
}


#logo > svg {
    width: 45px;
    height: auto;
    margin-right: 6px;
    margin-top: -2px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 40vh;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
    font-size: 1.2rem;
}

li:hover {
    background-color: #0d629b;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    width: 80%;
}

#main {
    width: 100%;
    height: 100%;
}

#header {
    position: relative;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.10);
}

#top-section {
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 95%;
}

#search-icon, #bell-icon, svg {
    margin-right: 15px;
    width: 30px;
    height: auto;
}

#bell-icon {
    margin-right: 25px;
}

#search-icon {
    padding-top: 1px;
    margin-right: 10px;
}

#search-box {
    background-color: #E2E8F0;
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 1.3rem;
}

input[type="search"]::-webkit-search-cancel-button {
    padding-right: 10px;
    filter: brightness(0%);
  }
  
#search {
    display: flex;
    align-items: center;
    width: 65%;
}

#down-section {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 60%;
}

#top-bar-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 475px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #1992D4;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

#account {
    display: flex;
    align-items: center;
    width: 250px;
}

#username {
    display: flex;
    align-items: center;
}

#user-main {
    display: flex;
    flex-direction: column;
} 

.user-greeting {
    font-weight: 700;
    font-size: 1.1rem;
}

.user-info {
    font-weight: 800;
    font-size: 1.5rem;
}

.user-name-small {
    font-weight: 600;
    font-size: 1.1rem;
}

#user-picture-big {
    width: 80px;
    margin: 10px 15px 10px 0;
}

#user-picture-small {
    width: 40px;
    margin: 10px 15px 10px 0;
}

#header-button:hover {
    background-color: #0d629b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s ease;
}

#container {
    background-color: #E2E8F0;
    display: grid;
    padding: 50px;
    height: 72vh;
    width: 95%;
    gap: 40px;
    overflow: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "pt at"
    "pt  tr";
}


.container-header {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 7px;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 300px 300px 300px;
    gap: 25px;
}

#container-left {
    width: 90%;
}

.project {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-container {
    width: 90%;
    height: 70%;

}

.project-header {
    display: block;
    font-size: 1.20rem;
    font-weight: 600;
    margin: 20px 0 10px 0;
    overflow: auto;
}

.project-description {
    font-size: 1.1rem;
}

.project-icons {
    display: flex;
    justify-content: space-between;
    width: 140px;
    position: relative;
    left: 150px;
}

.project-icons > img {
    padding: 5px;
}

.project:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

#container-left {
    grid-area: pt;
}

#container-right {
    grid-area: at;
}

#container-bottom {
    grid-area: tr;
}

.announcement {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    border-bottom: 2px solid #E2E8F0;
    width: 340px;
}

.announcement:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#announcements-container {
    background-color: white;
    display: grid;
    grid-template-columns: 400px;
    border-radius: 25px;
}

.announcement-header {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}

.announcement-description {
    font-size: 1.1rem;
}

#trending-container {
    background-color: white;  
    padding: 20px;  
    border-radius: 25px;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 50px;
}

.trending:hover {
    background-color: #E2E8F0;
}

.trending>img {
    width: 75px;
}

img {
    width: 27px;
}

img:hover {
    background-color: #E2E8F0;
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.trending-info {
    margin-left: 20px;
}

.trending-username {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
}

@media only screen and (max-width: 1400px) {
    #search-box {
        width: 70%;
    }
    .user-info {
        font-size: 1.1rem;
    }
    button {
        width: 90px;
        height: 35px;
    }
    #top-bar-btns {
        width: 300px;
    }
    #sidebar {
        width: 30vh;
    }
    #logo {
        font-size: 1.4rem;
    }
    li {
        font-size: 1rem;
    }
    svg {
        width: 30px;
    }
  }
  
